.Logo {
    height: 2em;
    position: relative;
    top: 3px;
}
@media (max-width: 500px){
    .Logo{
        height: 24px;
    }
}

.Menu{
    padding-left: 4%;
    padding-right: 4%;
    height: 68px;
    width: 100%;
    z-index: 100;

    position: fixed;
    top: 0px;
    left: 0px;

    background-color: var(--MenuBg);
    background: linear-gradient(180deg, var(--MenuBg), transparent);

    display: flex;
    align-items: center;

    transition: background-color 0.4s ease;
}

#root:not([component='Home']) .Menu{
    border-bottom: 2px solid var(--primary);
    background-color: var(--MenuBg);;
}

body:not([scroll-top='0']) .Menu{
    background-color: var(--MenuBg);
}

.ButtonLink{
    border: 1px solid rgb(153, 153, 153);
    padding: 0.57em 1.35em;
    font-size: 95%;
    text-decoration: none;
}

.ButtonLink:hover{
    background-color: #ffffff17;
}

.ButtonLink:focus{
    box-shadow: 0px 0px 0 2px #ffffffEE;
}

.ButtonLink:active{
    background-color: #ffffff0F;
}